

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4F4F4F	;
    height: 100vh;
}

.cabeçalho  {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 40px 4%;
}

header > .cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block ;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.07);

}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: silver;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
herder .btn-contato button:hover{
    box-sizing: 0px 0px silver;
}
.container{
    width: 600px;
    height: 400px;
    background-color: black;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
}
.container .icon-html{
    padding: 60px 60px;

}
.container .css{
    padding: 0px 220px;
    margin-top: -180px;
}
.container .java {
    padding: 0px 410px;
    margin-top: -150px;
}
.container .lingC{
    padding: 10px 133px;
}
.container .mysql{
    padding: 10px 272px;
    margin-top: -155px;
}
.container :hover{
    transition: 0.1s;
    transform: scale(1.07);
}

.container .icon-html,
.container .css {
    position: relative;
}

.comment {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.comment p {
    margin: 0;
}
.imagem5 {
    margin: 0;
    padding: 0;
}
.imagem5 {
    height: 320px; 
}
.imagem5 {
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;  
}
.imagem5 {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}
main .sobre {
    margin-left: 680px;

}
.sobre {
    font-family: Arial, sans-serif;
}

.sobre span {
    font-size: 28px; /* Tamanho maior */
    font-weight: bold; /* Texto em negrito */
    color: #3366ff; /* Cor azul mais brilhante */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}
footer {
    background: #343434;
    padding-top: 50px;
}
.container9 {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 33.3%;
}
h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
}
.list li:hover::before{
    width: 70px;
}
.social-icons    {
    text-align: center;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
.footer a{
    text-decoration:none ;
}
.footer a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
}
.bottom-bar p{
    color: #f18930;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


   
    






